.Group418_container {
  padding-top: 60px;
  background-color: #f5f5f5;
}

.Group418 {
  max-width: 1440px;
  height: 1006px;
  background-image: url("/assets/img/bernard-hermant-KqOLr8OiQLU-unsplash 1.avif");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .Group418 {
    max-width: 1236px;
    height: 906px;
    background-image: url("/assets/img/bernard-hermant-KqOLr8OiQLU-unsplash 1.avif");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
}
@media screen and (min-width: 1240px) {
  .Group418 {
    width: 1440px;
    height: 806px;
    background-image: url("/assets/img/bernard-hermant-KqOLr8OiQLU-unsplash 1.avif");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f5f5f5;
  }
}

.Group418_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #73788c;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .Group418_text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #73788c;
    max-width: 502px;
  }
}

.Group418_title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  letter-spacing: 0em;
  max-width: 605px;
  color: .Group418_title tittle;
}
@media screen and (min-width: 480px) {
  .Group418_title {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 116%;
    letter-spacing: 0em;
    max-width: 605px;
    color: .Group418_title tittle;
  }
}

.Group418_text-link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #69b99d;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 24px;
}
@media screen and (max-width: 1080px) {
  .Group418_text-link {
    display: block;
    text-align: center;
  }
}

.Group418_buy {
  margin-top: 30px;
}
@media screen and (min-width: 1240px) {
  .Group418_buy {
    margin-top: 180px;
    margin-left: 20px;
  }
}

.Group418_button1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  background: #f5f5f5;
  padding: 8px 32px;
  max-width: 119px;
  height: 56px;
  color: #a6a6a6;
}
.Group418_button1:hover {
  background-color: #69b99d;
  cursor: pointer;
}
@media screen and (min-width: 1240px) {
  .Group418_button1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    background: #f5f5f5;
    padding: 12px 32px;
    max-width: 119px;
    height: 56px;
    color: #a6a6a6;
  }
}

.Group418_button2 {
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  background: #fefeff;
  padding: 8px 12px;
  width: 119px;
  height: 56px;
  color: #69b99d;
}
.Group418_button2:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}
@media screen and (min-width: 1240px) {
  .Group418_button2 {
    font-family: "Poppins", sans-serif;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    background: #fefeff;
    padding: 12px 32px;
    width: 119px;
    height: 56px;
    color: #69b99d;
  }
}

.Group418_list {
  display: flex;
  width: 250px;
  height: 400px;
  box-shadow: 35px 35px 65px 0 rgba(146, 106, 120, 0.16);
  background: #fefeff;
}
@media screen and (max-width: 767px) {
  .Group418_list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .Group418_list {
    display: flex;
    width: 751px;
    height: 124px;
    box-shadow: 35px 35px 65px 0 rgba(146, 106, 120, 0.16);
    background: #fefeff;
  }
}

.Group418_item {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.Group418_item1 {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.Group418_label {
  margin-left: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: #1f2744;
  margin-top: 32px;
}

.Group418_button3 {
  margin-top: 32px;
  margin-right: 32px;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fff;
  padding: 18px 48px;
  width: 153px;
  height: 60px;
  box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.32);
  background: #69b99d;
}
.Group418_button3:hover {
  background: #fff;
  color: #69b99d;
}

.Group418_select1 {
  margin-top: 8px;
  width: 197px;
  height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: #a6a6a6;
  border: none;
}

.Group418_select2 {
  margin-top: 8px;
  width: 86px;
  height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: #a6a6a6;
  border: none;
}

.Group418_select3 {
  margin-top: 8px;
  width: 131px;
  height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: #a6a6a6;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f5f5f5;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 24px 0;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 32px 0;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-logo__text {
  display: none;
}
@media screen and (min-width: 1240px) {
  .header-logo__text {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: 0.02em;
    color: #4ba586;
  }
}

.navigation-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 8px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (min-width: 768px) {
  .navigation-menu {
    gap: 24px;
  }
}
@media screen and (min-width: 1240px) {
  .navigation-menu {
    gap: 48px;
  }
}
.navigation-menu__link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #8e8e8e;
}
@media screen and (min-width: 1240px) {
  .navigation-menu__link {
    font-size: 18px;
  }
}
.navigation-menu__link:hover {
  color: #69b99d;
}

.header-actions {
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .header-actions {
    gap: 8px;
  }
}
.header-actions__primary {
  padding: 8px 24px;
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #69b99d;
  cursor: pointer;
}
@media screen and (min-width: 1240px) {
  .header-actions__primary {
    padding: 16px 48px;
  }
}
.header-actions__primary:hover {
  color: white;
  background-color: #69b99d;
}
.header-actions__secondary {
  padding: 8px 24px;
  background-color: #69b99d;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 1240px) {
  .header-actions__secondary {
    padding: 16px 48px;
  }
}
.header-actions__secondary:hover {
  color: #69b99d;
  background-color: white;
}

.container {
  max-width: 1236px;
  padding: 0 20px;
  margin: 0 auto;
}

.Group368 {
  padding-top: 140px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .Group368 {
    padding-top: 60px;
  }
}

.Group368_link1 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
  padding: 12px 24px;
  background: #f8f9fe;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .Group368_link1 {
    display: block;
    text-align: center;
  }
}

.Group368_title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #054457;
}
@media screen and (min-width: 480px) {
  .Group368_title {
    margin-top: 32px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: #054457;
  }
}

.Group368_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0em;
  color: #73788c;
  max-width: 492px;
}

.Group368_link2 {
  display: flex;
  float: right;
}

.Group368_link3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
}

.Group368_link4 {
  margin-top: 2px;
  margin-left: 12px;
}

.Group368_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}
@media screen and (min-width: 1240px) {
  .Group368_list {
    margin-top: 48px;
    justify-content: space-between;
  }
}

.Group368_item {
  max-width: 376px;
  max-height: 472px;
  border: 1px solid #dedcda;
  background: #fefeff;
  padding: 16px;
  margin-top: 32px;
}
@media screen and (max-width: 480px) {
  .Group368_item {
    text-align: center;
  }
}

.Group368_item-img {
  width: 244px;
  height: 178px;
}
@media screen and (min-width: 480px) {
  .Group368_item-img {
    height: 228px;
    width: 344px;
  }
}

.Group368_item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: #1f2744;
  margin-top: 16px;
}

.Group368_item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0em;
  color: #a6a6a6;
  margin-top: 8px;
}

.Group368_item-cont {
  display: flex;
}
@media screen and (max-width: 480px) {
  .Group368_item-cont {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .Group368_item-cont {
    display: flex;
    margin-top: 16px;
  }
}

.Group368_item-money {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: #69b99d;
}

.Group368_item-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: .Group368_item-text2 tittle;
  padding: 4px 8px;
  width: 159px;
  height: 32px;
  background: #f5f5f5;
}
@media screen and (min-width: 480px) {
  .Group368_item-text2 {
    margin-left: 32px;
  }
}
@media screen and (max-width: 480px) {
  .Group368_item-text2 {
    margin-left: 42px;
    text-align: center;
  }
}

.Group368_item-span {
  color: #a6a6a6;
}

.Group368_item-sup {
  font-family: "Roboto Slab", sans-serif;
}

.Group368_item-link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #69b99d;
  border: 1px solid #69b99d;
  padding: 12px 48px;
  width: 156px;
  max-height: 48px;
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .Group368_item-link {
    width: 240px;
  }
}
.Group368_item-link:hover {
  background: #69b99d;
  color: white;
  cursor: pointer;
}

.Group368_item-link2 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #69b99d;
  border: 1px solid #69b99d;
  padding: 12px 48px;
  width: 156px;
  max-height: 48px;
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .Group368_item-link2 {
    width: 240px;
  }
}
.Group368_item-link2:hover {
  background: #69b99d;
  color: white;
  cursor: pointer;
}

.discover__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
@media screen and (max-width: 480px) {
  .discover__wrap {
    flex-direction: column;
    align-items: center;
  }
}

.Group416 {
  background: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
}

.Group416_link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
  padding: 12px 24px;
  background: #f8f9fe;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .Group416_link {
    display: block;
    text-align: center;
  }
}

.Group416_title {
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #054457;
  max-width: 436px;
}
@media screen and (max-width: 480px) {
  .Group416_title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1240px) {
  .Group416_title {
    text-align: left;
    margin: 0;
    margin-top: 16px;
  }
}

.Group416_list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .Group416_list {
    justify-content: center;
  }
}
@media screen and (min-width: 1240px) {
  .Group416_list {
    justify-content: space-between;
    gap: 32px;
  }
}

.Group416_item {
  flex: 1 1 376px;
}
@media screen and (min-width: 480px) {
  .Group416_item {
    flex: 1 0 210px;
  }
}
@media screen and (min-width: 768px) {
  .Group416_item {
    flex: 0 0 350px;
  }
}

.Group416_list-title {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 136%;
  letter-spacing: 0.02em;
  color: #054457;
}

.Group416_text {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: #73788c;
}

.Group365 {
  padding-top: 216px;
  padding-bottom: 60px;
}

.about__wrapper {
  position: relative;
  max-width: 609px;
}

.Group365_thumb {
  position: absolute;
  top: -96px;
  left: 96px;
  z-index: 2;
  width: 174px;
  height: 252px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Group365_thumb {
    max-width: 134px;
    max-height: 180px;
  }
}

.Group365_titel {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 111%;
  letter-spacing: 0em;
  color: #054457;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .Group365_titel {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 111%;
    letter-spacing: 0em;
    color: #054457;
    margin: 0;
  }
}

.Group365_star {
  display: flex;
  justify-content: space-between;
}

.Group365_text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #a6a6a6;
}

.Group365_text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #054457;
}

.Group365_thumb1 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: white;
  align-items: center;
  z-index: 2;
}

.Group365_text3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 163%;
  letter-spacing: 0em;
  color: #a6a6a6;
  max-width: 72px;
}
@media screen and (min-width: 480px) {
  .Group365_text3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0em;
    color: #a6a6a6;
    max-width: 72px;
  }
}

.Group365_text4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 163%;
  letter-spacing: 0em;
  color: #a6a6a6;
  max-width: 82px;
}
@media screen and (min-width: 480px) {
  .Group365_text4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0em;
    color: #a6a6a6;
    max-width: 82px;
  }
}

.Group365_img {
  max-width: 690px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .Group365_img {
    max-width: 300px;
  }
}

.Group365_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1040px) {
  .Group365_wrapper {
    flex-direction: column;
  }
}

.Group365_link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
  padding: 12px 24px;
  text-transform: uppercase;
  background: #f8f9fe;
}
@media screen and (max-width: 1080px) {
  .Group365_link {
    margin-top: 32px;
    display: block;
    text-align: center;
  }
}

.Group365_div-titel {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #054457;
  margin-top: 16px;
}
@media screen and (max-width: 480px) {
  .Group365_div-titel {
    font-size: 32px;
  }
}

.Group365_text5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0em;
  color: #73788c;
  margin-top: 16px;
}

.Group365_link2 {
  display: inline-block;
  margin-top: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fefeff;
  padding: 18px 48px;
  box-shadow: 24px 24px 65px 0 rgba(81, 140, 119, 0.24);
  background: #69b99d;
}
.Group365_link2:hover {
  background: #fefeff;
  color: #69b99d;
}
@media screen and (max-width: 1240px) {
  .Group365_link2 {
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .Group365_link2 {
    max-width: 70%;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .right_side {
    margin-left: 56px;
  }
}

.Group415 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Group415_text1 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
  padding: 12px 24px;
  background: #f8f9fe;
}
@media screen and (max-width: 1080px) {
  .Group415_text1 {
    display: block;
    text-align: center;
  }
}

.Learn_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Learn_wrap {
    flex-direction: column;
    align-items: center;
  }
}

.Group415_title {
  margin-top: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #054457;
}
@media screen and (max-width: 480px) {
  .Group415_title {
    font-size: 32px;
  }
}

.Group415_link1 {
  display: flex;
  align-items: center;
}

.Group415_link2 {
  font-family: font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
}

.Group415_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .Group415_list {
    flex-direction: column;
  }
}

.Group415_item {
  flex-wrap: wrap;
  margin-top: 24px;
  border: 1px solid #dedcda;
  max-width: 376px;
  height: 380px;
}

.Group415_item-img {
  padding-top: 24px;
  padding-left: 24px;
}

.Group415_item-title {
  max-width: 285px;
  padding-left: 24px;
  padding-top: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0em;
  color: #1f2744;
}

.Group415_item-text {
  max-width: 290px;
  padding-left: 24px;
  padding-top: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #1f2744;
}

.Group415_item-wrap {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-top: 24px;
  padding-left: 24px;
}

.Group415_item-wrap1 {
  flex-direction: column;
}

.Group415_wrap-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: #0b2e29;
}

.Group415_wrap-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #767676;
}

.footer {
  background-color: #f5f5f5;
  display: flex;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 1240px) {
  .footer_wrap:nth-child(2) {
    margin-left: 214px;
  }
}
@media screen and (min-width: 768px) {
  .footer_wrap:nth-child(2) {
    margin-left: 114px;
  }
}

@media screen and (min-width: 1240px) {
  .footer_wrap:nth-child(3) {
    margin-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .footer_wrap:nth-child(3) {
    margin-left: 54px;
  }
}

@media screen and (min-width: 1240px) {
  .footer_wrap:nth-child(4) {
    margin-left: 137px;
  }
}
@media screen and (min-width: 768px) {
  .footer_wrap:nth-child(4) {
    margin-left: 84px;
  }
}

.footer_link {
  display: flex;
  align-items: center;
}

.link-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: 0.02em;
  color: #4ba586;
}

.footer_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding-top: 80px;
}

.footer_text {
  max-width: 324px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0em;
  color: #1f2744;
  margin-top: 16px;
}

.footer_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #0b2e29;
}

.footer_input {
  max-width: 351px;
  height: 42px;
  border: none;
  background: #fefeff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: #d7d7d7;
  margin-bottom: 100px;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: #fefeff;
  box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.48);
  background: #69b99d;
  border: none;
  width: 88px;
  height: 42px;
}

.footer_link1 {
  margin-top: 16px;
  display: inline-block;
  font-family: second-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #575757;
}

.send_wrap {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.social_circle {
  border-radius: 100%;
  padding: 8px;
  background: #f8f9f9;
}
.social_circle:hover {
  background: purple;
  cursor: pointer;
}

.dsad {
  display: flex;
}

.lebel {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin-top: 24px;
  color: #0b2e29;
  margin-bottom: 16px;
  align-items: flex-start;
}

.form {
  display: flex;
  gap: auto;
}/*# sourceMappingURL=main.css.map */