
$font-family:"Poppins", sans-serif;
$second-family: "DM Sans", sans-serif;
$third-family: "Nunito Sans", sans-serif;
$font3: "Rubik", sans-serif;
$tittle: #1f2744;
$fourth-family:"Roboto Slab", sans-serif;