@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.Group416 {
  background: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
}

.Group416_link {
  display: inline-block;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
  padding: 12px 24px;
  background: #f8f9fe;
  text-transform: uppercase;
  @media screen and (max-width: 1080px) {
      display: block;
       text-align: center;
  }
}
.Group416_title {
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
  font-family: $font3;
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #054457;
  max-width: 436px;
  @media screen and (max-width:480px) {
    font-size: 32px;
  }
  @include dekstop {
    text-align: left;
    margin: 0;
    margin-top: 16px;
  }
}
.Group416_list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @include tablet {
    justify-content: center;
  }

  @include dekstop {
    justify-content: space-between;
    gap: 32px;
  }
}
.Group416_item {
  flex: 1 1 376px;

  @include phone {
    flex: 1 0 210px;
  }

  @include tablet {
    flex: 0 0 350px;
  }
}
.Group416_list-title {
  margin-top: 16px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 28px;
  line-height: 136%;
  letter-spacing: 0.02em;
  color: #054457;
}
.Group416_text {
  margin-top: 16px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: #73788c;
}
