@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.Group418_container{
    padding-bottom: 60px;
    background-color:  #f5f5f5;
}
.Group418{
max-width: 1440px;
height: 1006px;
background-image: url("/assets/img/bernard-hermant-KqOLr8OiQLU-unsplash\ 1.avif");
background-repeat: no-repeat;
background-position: right bottom;
background-size: contain;
  @media screen and (min-width:768px) {
max-width: 1236px;
height: 906px;
background-image: url("/assets/img/bernard-hermant-KqOLr8OiQLU-unsplash\ 1.avif");
background-repeat: no-repeat;
background-position: right bottom;
background-size: contain;
   
  }

    
   @media screen and (min-width:1240px)
    
   {
   width: 1440px;
    height: 806px;
    background-image: url("/assets/img/bernard-hermant-KqOLr8OiQLU-unsplash\ 1.avif");
    background-repeat: no-repeat;
    background-position: right bottom;
   background-color:  #f5f5f5;
   }
}
.Group418_text {
font-family: $font-family;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0em;
color: #73788c;
max-width: 200px;
    @media screen and (min-width:768px){
        font-family: $font-family;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0em;
color: #73788c;
max-width: 502px;
    }

}
.Group418_title {
font-family: $font3;
font-weight: 600;
font-size: 32px;
line-height: 116%;
letter-spacing: 0em;
max-width: 605px;
color: &tittle;
@media screen and (min-width:480px){
    font-family: $font3;
font-weight: 600;
font-size: 64px;
line-height: 116%;
letter-spacing: 0em;
max-width: 605px;
color: &tittle;
}
}
.Group418_text-link{
font-family: $font-family;
font-weight: 500;
font-size: 18px;
line-height: 144%;
letter-spacing: 0.03em;
text-align: center;
color: #69b99d;
text-transform: uppercase;

padding: 12px 24px;
width: 162px;
max-height: 50px;

&:hover{
    color: #f8f9fe;
    background-color:#69b99d ;
}
}

.Group418_buy{
    margin-top: 30px;
    @media screen and (min-width:1240px) {
    margin-top: 180px;
    margin-left: 20px;
        
    }
}
.Group418_button1{
    font-family: $font-family;
font-weight: 500;
 border: none;
font-size: 24px;
line-height: 133%;
letter-spacing: 0em;
background: #f5f5f5;
padding: 8px 32px;
max-width: 119px;
height: 56px;
color: #a6a6a6;
&:hover{
    background-color: #69b99d;
    cursor: pointer;
}

@media screen and (min-width:1240px) {
        font-family: $font-family;
font-weight: 500;
 border: none;
font-size: 24px;
line-height: 133%;
letter-spacing: 0em;
background: #f5f5f5;
padding: 12px 32px;
max-width: 119px;
height: 56px;
color: #a6a6a6;
    
}
}
.Group418_button2{
font-family: $font-family;
border: none;
font-weight: 500;
font-size: 24px;
line-height: 133%;
letter-spacing: 0em;
background: #fefeff;
padding: 8px 12px;
width: 119px;
height: 56px;
color: #69b99d;
&:hover{
    background-color: #a6a6a6;
    cursor: pointer;
}
@media screen and (min-width:1240px){
    font-family: $font-family;
border: none;
font-weight: 500;
font-size: 24px;
line-height: 133%;
letter-spacing: 0em;
background: #fefeff;
padding: 12px 32px;
width: 119px;
height: 56px;
color: #69b99d;
}
}



.Group418_list {
    display: flex;
    
width: 250px;
height: 400px;
box-shadow: 35px 35px 65px 0 rgba(146, 106, 120, 0.16);
background: #fefeff;
@media screen and (max-width:767px) {
    flex-direction: column;
}
@media screen and (min-width:768px) {
 display: flex;
 width: 751px;
height: 124px;
box-shadow: 35px 35px 65px 0 rgba(146, 106, 120, 0.16);
background: #fefeff;
    
}
}
.Group418_item {
    display: flex;
 flex-direction: column;
 margin-left: 40px;

}
.Group418_item1{
     display: flex;
 flex-direction: column;
 margin-left: 32px;
}

.Group418_label {
    margin-left: 4px;
    font-family: $font-family;
font-weight: 400;
font-size: 18px;
line-height: 144%;
letter-spacing: 0em;
color: $tittle;
margin-top: 32px;
}
.Group418_button3 {
    margin-top: 32px;
    margin-right: 32px;
    font-family: $font-family;
    border: none;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0em;
color: #fff;
    padding: 18px 48px;
width: 153px;
height: 60px;
    box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.32);
background: #69b99d;
&:hover{
    background: #fff;
    color: #69b99d;
}
}

.Group418_select1{
margin-top: 8px;
width: 197px;
height: 26px;
font-family: $font-family;
font-weight: 400;
font-size: 18px;
line-height: 144%;
letter-spacing: 0em;
color: #a6a6a6;
border: none;
}

.Group418_select2{
margin-top: 8px;
width: 86px;
height: 26px;
font-family: $font-family;
font-weight: 400;
font-size: 18px;
line-height: 144%;
letter-spacing: 0em;
color: #a6a6a6;
border: none;
}

.Group418_select3{
margin-top: 8px;
width: 131px;
height: 26px;
font-family: $font-family;
font-weight: 400;
font-size: 18px;
line-height: 144%;
letter-spacing: 0em;
color: #a6a6a6;
border: none;
}

